.features-footer{
    width:100%;
    height: 290px;
    display: flex;
    align-items: center;
    position:relative;
    
}
.features-footer-mainc-img{
    width: 100%;
    height: 290px;
}
.feat-foot-rect{
    position: absolute;
    top: 0;
    left: 32px;
}
.features-footer-abs{
    width: 358px;
    height: 290px;
    padding: 64px 0px 64px 32px;
    position: absolute;
}
.features-footer-abs h1{
font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF
}
.features-footer-wrapper{
    display: flex;
    align-items: center;
    margin-top: 24px;
    gap: 15px;
}
.features-footer-wrapper h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.feature-footer-icon-wrapper{
    display: flex;
    align-items: center;
}
.feature-footer-icon-wrapper .img2{
    transform: translateX(-6px);
}
.features-footer-mainc-img2{
    display: none;
}
.features-footer-mainc-img3{
    display: none;
}
.feat-foot-rect1{
    display: none;
}
.features-footer-wrapper h3:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (min-width:768px){
    .feat-foot-rect{
        display: none;
    }

    .features-footer-mainc-img{
        display: none;
    }
    .features-footer{
        width:100%;
        height: 280px;
        display: flex;
        align-items: center;
        position:relative;
        
    }
    .features-footer-mainc-img2{
        display: inline-block;
        width: 100%;
        height: 280px;
    }
    .features-footer-abs{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 68px 39px;
    }
    .features-footer-abs h1{
        width: 430px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.16667px;
        text-transform: uppercase;
    }
    .features-footer-wrapper{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .feat-foot-rect1{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media screen and (min-width:1440px){
    .features-footer-mainc-img2{
        display: none;
    }
    .features-footer{
        width: 100%;
    }
    .features-footer-mainc-img3{
        display: inline-block;
        width: 100%;
        height: 280px;
    }
    .features-footer-abs{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 68px 165px;
    }
}

