.features-hero-container {
  width: 100%;
}

.color-line-container {
  position: relative;
}
.color-line-mobile {
  position: absolute;
  left: 0;
  bottom: 66px;
}
.color-line-tablet {
  display: none;
  position: absolute;
  top: 20px;
  height: 144px;
  width: 4px;
}
.camera-mobile {
  width: 100%;
  height: 100%;
  display: block;
}
.features-text-box {
  width: 100%;
  height: 300px;

  background-color: black;
  padding: 72px 29px 0 29px;
}
.features-paragraph {
  font-family: "DM Sans";
  font-style: normal;

  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.features-text-box h1 {
  font-family: "DM Sans";
  font-style: normal;

  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  color: white;
  margin-bottom: 16px;
}
.camera-tablet,
.camera-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .camera-mobile {
    display: none;
  }
  .camera-tablet {
    display: block;
  }
  .color-line-mobile {
    transform: rotate(90deg);
    top: 70px;
    left: -120px;
    width: 140px;
  }

  .features-hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .features-text-box {
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 54px;
    padding-right: 0;
  }
  .features-text-box h1 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 4.16667px;
    margin-bottom: 20px;
  }
  .features-hero-image {
    width: 273px;
  }
  .features-paragraph {
    width: 387px;
  }
}
@media screen and (min-width: 1050px) {
  .camera-tablet {
    display: none;
  }
  .camera-desktop {
    display: block;
    width: 570px;
    height: 490px;
    object-fit: none;
  }
}
@media screen and (min-width: 1440px) {
  .camera-tablet {
    display: none;
  }
  .camera-desktop {
    display: block;
    width: 830px;
    object-fit: fill;
  }
  .features-hero-image {
    width: 830px;
  }
  .features-text-box {
    padding-left: 112px;
  }
  .color-line-mobile {
    left: -177px;
  }
}
