.svg {
  margin-left: 26px;
}
.svgContainer:hover {
  cursor: pointer;
  text-decoration: underline;
}
.purpleLineForTablet {
  display: none;
}
.purpleLineContainer {
  position: relative;
}
.purpleLine {
  width: 128px;
  position: absolute;
  top: 0px;
  left: 29px;
}
.heroContainer {
  display: flex;
  flex-direction: column;
  background: black;

}
.heroContainer:nth-child(1) {
  flex-direction: column;
}
.heroContainer:nth-child(3) {
  flex-direction: column;
}
.heroText {
  color: white;
  font-family: "DM Sans";
  margin-top: 72px;
  padding-left: 33px;
  margin-right: 24px;
  margin-bottom: 70px;
}
.heroParagraph {
  margin-top: 16px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
.heroHeader {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3.33333px;
  text-transform: uppercase;
}
.heroArrowContainer {
  margin-top: 23px;
  margin-bottom: 72px;
}

.heroSpan {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #ffffff;
}
.heroImgInner {
  width: 100%;
}
@media (min-width: 768px) {
  .heroImgInner {
    width: 273px;
    object-fit: contain;
  }
  .heroContainer:nth-child(1) {
    flex-direction: row-reverse;
  }
  .heroContainer:nth-child(3) {
    flex-direction: row-reverse;
  }
  .heroText {
    margin: 0;
    padding: 0 54px;
  }
  .purpleLine {
    display: none;
  }
  .purpleLineForTabletContainer {
    position: relative;
  }
  .purpleLineForTablet {
    position: absolute;
    top: 22%;
    display: block;
  }
  .heroContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  .heroTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .heroText {
    width: 100%;
    margin: 30px auto;
  }
  .heroHeader {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    letter-spacing: 4.16667px;
    text-transform: uppercase;

    color: #ffffff;
  }
  .heroImgInner {
    width: 272px;
    height: 650px;
    object-fit: cover;
  }
}
@media (min-width: 1050px) {
  .heroImgInner {
    width: 400px;
    height: 650px;
    object-fit: cover;
  }
  .heroText {
    padding: 66px 112px;
    width: 100%;
  }
  .purpleLine {
    display: none;
  }
  .purpleLineForTablet {
    display: block;
  }
}
@media (min-width: 1440px) {
  .purpleLineContainer {
    position: relative;
  }
  .purpleLineForTablet {
    display: block;
  }
  .purpleLine {
    display: none;
  }
  .heroText {
    width: 100%;
    margin: 173px 111px 173px 112px;
  }
  .heroHeader {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    /* or 120% */

    letter-spacing: 4.16667px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .heroImg {
    height: 600px;
  }
  .heroImgInner {
    width: 830px;
    height: 650px;
  }
  .heroTextContainer {
    width: 610px;
    height: 650px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
  }
}
