@media (max-width: 538px) {
  .desktop {
    display: none;
  }
  .compareTableHeader {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    /* margin-left: 28px;
    margin-right: 28px; */
    margin: 64px 0;
    padding: 0 28px;
  }
  .mobileHeader {
    border-bottom: solid black 1px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 23px;
  }
  .tableHeaders {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    text-align: left;

    letter-spacing: 2px;

    color: #000000;

    /* identical to box height */
    margin-top: 23px;
    margin-bottom: 16px;
    letter-spacing: 2px;

    color: #000000;
  }
  td {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;

    /* identical to box height */
    /* padding-right: 70px; */
    /* padding-bottom: 8px; */
    letter-spacing: 1.66667px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  tr.row {
    border-bottom: solid #dfdfdf;
    width: 90%;
  }
  .compare {
    margin-right: 20px;
    padding: 24px 0;
  }
  .line {
    border-bottom: solid #dfdfdf 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .rows {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: space-between;

    /* identical to box height */

    letter-spacing: 2px;

    color: #000000;
  }
}
@media (min-width: 539px) {
  .mobile {
    display: none;
  }
  .compareTableContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    margin: 112px 0;
  }
  .table {
    width: auto;
  }

  .compareTableHeader {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    /* identical to box height, or 120% */
    margin-bottom: 56px;
    text-align: center;

    text-transform: uppercase;

    color: #000000;
  }
  th {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    letter-spacing: 2px;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #000000;
    padding-top: 25px;
    padding-bottom: 23.5px;
    display: flex;
    flex-wrap: wrap;
  }
  td {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    letter-spacing: 2px;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 23.5px;
    padding-top: 25px;
    padding-left: 50px;
  }

  .firstRow {
    padding: 23px 30px;
  }
  .tableText {
    padding-left: 40px;
    padding-right: 40px;
  }
  .firstRow {
    border-bottom: 1px solid black;
  }
}

@media all and (max-width: 1440px) {
  .table {
    width: 731px;
  }
}
