@media (max-width: 375px) {
  .desktop {
    display: none;
  }
  .compareTableHeader {
    display: none;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    margin-right: 28px;
  }
  .mobileHeader {
    border-bottom: solid black 1px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 23px;
  }
  .tableHeaders {
    display: flex;
    justify-content: flex-start;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    /* identical to box height */
    margin-top: 23px;
    margin-bottom: 16px;
    letter-spacing: 2px;

    color: #000000;
  }
  td {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;

    /* identical to box height */
    padding-left: 30px;
    padding-bottom: 8px;
    padding-right: 40px;
    letter-spacing: 1.66667px;

    color: #000000;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  tr.row {
    border-bottom: solid gray;
    width: 100%;
  }
  .compare {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
  }
  .line {
    border-bottom: solid gray 1px;
    width: 100%;
  }

  .rows {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    /* identical to box height */

    letter-spacing: 2px;

    color: #000000;
  }
}
@media (min-width: 376px) {
  .mobile {
    display: none;
  }
  .compareTableContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .compareTableHeader {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

    /* identical to box height, or 120% */
    margin-bottom: 56px;
    text-align: center;

    text-transform: uppercase;

    color: #000000;
  }
  th {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    letter-spacing: 2px;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #000000;
    padding-top: 25px;
    padding-bottom: 23.5px;
    display: flex;
    flex-wrap: wrap;
  }
  td {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;

    letter-spacing: 2px;
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 23.5px;
    padding-top: 25px;
    padding-left: 100px;
  }
  .tableText {
    padding-left: 40px;
    padding-right: 40px;
  }
  .firstRow {
    border-bottom: 1px solid black;
  }
}
