.pricePurpleLine {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
}
.blackHover:hover {
  background: #dfdfdf !important;
}
.pricingComponentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricingMenuContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 56px 22px 40px 21px;
  background: #f5f5f5;
  margin: 40px 28px 24px 29px;
}
.switchContainer {
  display: flex;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 64px;
  height: 32px;
  background: #dfdfdf;
  border-radius: 16px;
}
.inputContainer:hover {
  cursor: pointer;
}
.inputSwitched {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 64px;
  height: 32px;
  background: black;
  border-radius: 16px;
}
.inputSwitched:hover {
  cursor: pointer;
}
.switch {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: black;
}

.switched {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: white;
}

.pricingMenuHeader {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  margin-bottom: 18px;
  color: #000000;
}
.pricingMenuParagraph {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  width: 275px;
  display: flex;
  margin-bottom: 40px;
  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.6;
}
.price {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 4.16667px;
  text-transform: uppercase;
  color: #000000;
}
.pricingMenuButton {
  width: 245px;
  height: 40px;
  background-color: black;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  margin-top: 40px;
  border: none;
}
.pricingMenuButton:hover {
  background-color: #dfdfdf;
  color: black;
  cursor: pointer;
}
.pricingRightSide {
  display: none;
}
.pricingCalculatorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.switchMonth {
  margin-right: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */

  text-align: right;

  color: #000000;
}
.switchMonthOff {
  margin-right: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */

  text-align: right;

  color: gray;
}
.switchYear {
  margin-left: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */

  text-align: right;

  color: #000000;
}
.switchYearOff {
  margin-left: 36px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height, or 139% */

  text-align: right;

  color: gray;
}

@media (min-width: 768px) {
  .pricePurpleLine {
    transform: rotate(90deg);
    width: 470px;
    top: 49%;
    left: -34%;
  }
  .pricingComponentsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
  }
  .pricingMenuPrice {
    display: none;
  }
  .pricingMenuContainer {
    position: relative;
    flex-direction: row;
    width: 689px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .pricingMenuInfo {
    text-align: left;
    margin-left: 40px;
  }
  .pricingMenuButton {
    margin-top: 32px;
    width: 270px;
    height: 40px;
  }
  .pricingRightSide {
    margin-bottom: 180px;
    margin-left: 130px;

    display: block;
  }
}
@media (min-width: 1050px) {
  .pricePurpleLine {
    transform: rotate(180deg);
    top: 0;
    left: 0;
    width: 300px;
  }
  .pricingCalculatorContainer {
    margin-bottom: 160px;
  }
  .pricingComponentsContainer {
    gap: 20px;
    margin-top: 48px;
  }
  .pricingMenuContainer {
    margin: 0;
  }

  .pricingRightSide {
    display: none;
  }
  .pricingComponentsContainer {
    flex-direction: row;
    align-items: center;
  }
  .pricingMenuContainer {
    width: 300px;
  }
  .pricingMenuParagraph {
    width: 200px;
  }
  .pricingMenuButton {
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .pricePurpleLine {
    transform: rotate(180deg);
    top: 0;
    left: 0;
    width: 350px;
  }
  .pricingComponentsContainer {
    flex-direction: row;
    align-items: center;
  }
  .pricingMenuContainer {
    width: 350px;
  }
}
